<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    .iex::-ms-clear {
        width: 0;
        height: 0;
    }

    a, u {
        text-decoration: none !important;
    }
</style>

<div class="container">
    <div ng-app="CookbookTs" class="container" ng-cloak>
        <h2>Family Cookbook (TypeScript)</h2>
        <div ng-view="">


        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap.js")
    @Scripts.Render("~/Scripts/CookbookTs/Models.js")
    @Scripts.Render("~/Scripts/CookbookTs/Services.js")
    @Scripts.Render("~/Scripts/CookbookTs/Controllers.js")
    @Scripts.Render("~/Scripts/CookbookTs/CookbookTs.js")
}

